<strong>Olá, {{student}}! </strong>
<p> Sua pergunta foi respondida!</p>
<p>
  <strong>Pergunta: </strong>{{ question }} <br>
  <strong>Resposta: </strong>{{ answer }} <br>
  <br>
  <small>Esperamos ter esclarecido sua dúvida!</small>
</p>
