<strong>Olá, {{student}}! </strong>
<p> Sua inscrição foi realizada com sucesso!</p>
<p>
  <strong>Plano: </strong>{{ title }} <br>
  <strong>Data de Término: </strong>{{ end_date }} <br>
  <br>
  <small>Seja bem-vindo! Aproveite!</small>
</p>